node_modules
bower_components
.tmp
public
.DS_Store
*.swp
*~.nib

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
phonegap/platforms/ios/www/
phonegap/www
console.log


cache
webkitbuilds
