body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.buttons-container {
    display: inline-block;
    margin: 5px 2px;
}

.buttons-container button {
    width: 70px;
}

.device {
  padding: 4px 8px;
  margin-bottom: 10px;
  background-color: hsla(0, 0%, 92%, 0.72);
  border-radius: 3px;
}

@media screen and (max-width: 767px) {
  .navbar-header {
    padding-top: 20px;
  }
}
