body {
  padding: 50px;
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.buttons-container {
    display: inline-block;
}


.on-button {
    background-color: #0f0;
}

.off-button {
    background-color: #f00;
}
