<h3>Devices</h3>
<div class="devices-container">
  <div class="row device" ng-repeat="device in devices">
    <div class="col-sm-12 col-md-7">
      <h4>{{ device.device_name }}</h4>
    </div>

    <div class="col-sm-12 col-md-5">
      <div class="buttons-container text-right">
        <button data-button-type="on" class="button-on button-switch btn btn-success btn-lg" ng-click="turnOnDevice(device)">ON</button><button data-button-type="off" class="button-off button-switch btn btn-danger btn-lg" ng-click="turnOffDevice(device)">OFF</button>
      </div>
    </div>
  </div>
</div>
